/*1*/
#wrapper {
     display: flex;
     flex-direction: column;
 }


/*2*/
#streetlight{
    background:#333;
    width: 100px;
    height: 270px;
    border-radius: 10px;
    font-size: 70px;
    text-align:center;
    padding: 1px 0;
    border: 6px solid #000;
    margin: auto;
}
.circle{
    width: 20px;
    height: 20px;
    margin:20px;
    padding:20px;
    border:solid 1px #0a325f;
    font-size:20px;
    border-radius: 50px;
}

#green{
background-color: black;
}

#yellow{
background-color: black;
}

#red{background-color: red;
}


/*3*/
table td {
   border: 1px solid black;
  padding: 20px;
}

